@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    background: #150462;
    min-height: 100vh;
    /* overflow-x: hidden; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #348fd9;
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: #34ced9;
    padding: 6px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 60px;
}

.navigation a:hover,
.navigation a.active {
    background: #348fd9;
    color: #150462;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: bisque;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding: 100;
}

.sec p {
    font-size: 3em;
    color: white;
    font-weight: 300;
}